@media(max-width:768px) {
    
    #vid{
       height: 300px !important;
   }
   #contimg{
       height: 300px !important;
   }
   
   }
   .social ul li {
       list-style: none;
       font-size: 2rem;
       font-weight: bold;
   }
   .social ul li i{
       color: white;
       background-color: #0d0e0f;
       padding: 8px;
       border-radius: 11px;
   }
   .social{
       position: fixed;
       top: 6rem;
       right: 2rem;
       width: 4rem;
       z-index: 1000;
       height: 30rem;
   }
   @media(max-width:768px){
       .social{
           height: 16rem;
       }
       .social ul li{
           font-size: 1.2rem;
       }
       #PP{
          font-size: 12px;
          width: 100% !important;
          word-break: break-all;
          font-weight: lighter;
       }
       #HH{
           font-size: 1.4rem;
       }
   }
   .listSocial{
       display: flex;
       flex-direction: column;
       gap: 1rem;
       justify-content: center;
       align-items: stretch;
   }
   .down{
       width: 100%;
       text-align: left;
       position: relative;
       padding: 10px;
       border: navajowhite;
       background-color: #212529;
       color: white;
       font-weight: bold;
       letter-spacing: 2px;
       text-transform: uppercase;
   }
   .down::after{
       position: absolute;
       content: '';
       width: 100%;
       left: 0;
       bottom: 0;
       height: 2px;
       background-color: white;
   }
   .godown{
       height: 100px;
       width: 100%;
       background-color: #212529;
       color: white;
       padding: 10px;
       margin-bottom: 10px;
       word-spacing: 3px;
   }
   @media screen and (max-width:768px) {
       .godown{
           word-spacing: 0px;
           height: 170px;
       }
   }
   
   .card-news{
       width: 80%;
       margin: auto;
       margin-bottom: 40px;
       position: relative;
       height: 280px;
       box-shadow: 0px 0px 24px gray;
       overflow:hidden ;
   }
   .card-news:hover .right{
       transform: scale(1.3);
   }
   
   .card-news .left{
       background-color: white;
       width: 70%;
       transform: skewX(-11deg);
       height: 100%;
       position: absolute;
       background-color: white;
       z-index: 2;
       right:26%;
   }
   .card-news .left span{
       position: relative;
       
   }
   .card-news .left span::after{
       position: absolute;
       content: '';
       width: 30%;
       height: 3px;
       border-radius: 4px;
       background-color: #4c4c4c;
       bottom: -8px;
       left: 0;
       transition: 0.3s;
   }
   .card-news:hover .left span::after{
       width: 50%;
   }
   .card-news .right{
       width: 30%;
      height: 100%;
      background-image: url(../media/rose.jpg);
      background-size: cover;
      position: absolute;
      right: 0%;
      z-index: 1;
      transition: .3s;
   }
   @media screen and (max-width:768px) {
       .card-news .right{
           display: none;
       }
       .card-news .left{
           width: 100%;
           right: 0;
           text-align: center;
           padding: 5px;
           transform: skew(0deg);
       }
       .card-news .left p{
           font-size: 12px;
           word-break: break-all;
       }
       .card-news .left .btn-2{
           display: none;
       }
       .card-news .left .btn-3{
           display: none;
       }
   }
   .card2-news{
       width: 80%;
       margin: auto;
       margin-bottom: 40px;
       position: relative;
       height: 280px;
       box-shadow: 0px 0px 24px gray;
       overflow:hidden ;
   }
   .card2-news:hover .right{
       transform: scale(1.3);
   }
   
   .card2-news .left{
       background-color: white;
       width: 70%;
       transform: skewX(11deg);
       height: 100%;
       position: absolute;
       background-color: white;
       z-index: 2;
       right: 0%;
       padding: 0px 0px 0px 10px;
   }
   .card2-news .left span{
       position: relative;
       
   }
   .card2-news .left span::after{
       position: absolute;
       content: '';
       width: 30%;
       height: 3px;
       border-radius: 4px;
       background-color: #4c4c4c;
       bottom: -8px;
       left: 0;
       transition: 0.3s;
   }
   .card2-news:hover .left span::after{
       width: 50%;
   }
   .card2-news .right{
       width: 35%;
       height: 100%;
       background-image: url(../media/damas.jpg);
       background-size: cover;
       position: absolute;
       left: 0%;
       z-index: 1;
       transition: .3s;
   }
   @media screen and (max-width:768px) {
       .card2-news .right{
           display: none;
       }
       .card2-news .left{
           width: 100%;
           right: 0;
           text-align: center;
           padding: 5px;
           transform: skew(0deg);
       }
       .card2-news .left p{
           font-size: 12px;
           word-break: break-all;
       }
       .card2-news .left .btn-2{
           display: none;
       }
       .card2-news .left .btn-3{
           display: none;
       }
       .mm-card{
           width: fit-content;
       }
   
   }
   .fixed{
       width: 100%;
       height: 300px;
       background-image: url(../media/fix.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       margin: 100px 0px;
   }
   .my-card{
       position: relative;
   }
   .my-card::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
   }
   .my-card::before{
       position: absolute;
       content: '';
       bottom: 0;
       right: 0;
       width: 0;
       height: 0;
       background-color: rgba(0, 0, 0, .4);
       transition: .3s;
      }
      .my-card:hover::after{
       width: 100%;
       height: 50%;
      }
      .my-card:hover::before{
       width: 100%;
       height: 50%;
      }
      .p-card{
       position: relative;
       cursor: pointer;
       transition: .3s;
      }
      .p-card:hover{
       transform: scale(.8);
      }
      .p-card::after{
       content: '';
       position: absolute;
       z-index: 1;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, .7);
      }
      .h-card{
        position: absolute;
        z-index: 2;
        color: white;
      }
      .t-card{
       margin-top: 0;
       margin-bottom: 1rem;
       position: absolute;
       color: white;
       z-index: 2;
       top: 50px;
      }
      .small-img{
       position: absolute;
       z-index: 2;
       left: 15px;
       bottom: 40px;
       width: 100px;
       height: 140px;
       border-radius: 50%;
      }
      .para-card{
       position: absolute;
       left: 18px;
       bottom: 1px;
       z-index: 2;
       color:white;
      }
      .join-us{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 80%;
       margin: 40px auto;
       flex-wrap: wrap;
      }
      .join-us .box{
       text-align: center;
       padding: 20px;
       background: #473931;
       color: white;
       box-shadow: 0px 0px 41px 6px #473931;
       width: 250px;
       height: 200px;
       margin-bottom: 15px;
      }
      @media screen and (max-width:768px){
       .join-us .box{
           width: 100%;
       }
      }
      .footer{
       
       background-color: #212529;
       color:white;
      }
      .footer .boxs{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px;
      }
      .footer .box{
       display: flex;
       flex-direction: column;
       text-align: center;
      }
      .footer .box .heade{
       display: flex;
       align-items: center;
      }
      .footer .box .heade img{
       width: 160px;
       height: 60px;
       border-radius: 50%;
      }
      @media screen and (max-width:768px){
       .box1{
           display: none !important;
       }
       .box2{
           display: none !important;
       }
       .box3{
           margin: auto;
       }
      }
      